.fa:hover {
    opacity: .7;
}

.fa-twitter {
    background: #55acee;
    color: #fff
}

.fa-linkedin {
    background: #4b98c4;
    color: #fff;
}

.fa-github {
    background: #000;
    color: #fff;
}