/* .fa {
    padding: 5px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
} */

.fa:hover {
    opacity: .7;
}

.fa-twitter {
    background: #55acee;
    color: #fff
}

.fa-linkedin {
    background: #4b98c4;
    color: #fff;
}

.fa-github {
    background: #000;
    color: #fff;
}